# First Steps with the OANDA API

### This notebook is from section 71: Getting the API Key
We will need a file to store our api credentials, for security reasons I will not be uploading mine, but it is an "oanda.cfg" file with the following info:

```
[oanda]
account_id = xxx-xxx-xxxxxxx-xxxxx
access_token = xxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxx
account_type = practice
```

## Connecting to the API / Server

In [6]:
import pandas as pd
import tpqoa

In [7]:
api = tpqoa.tpqoa("oanda.cfg")

In [8]:
api.get_account_summary()

{'id': '101-004-24104852-001',
 'alias': 'Primary',
 'currency': 'GBP',
 'balance': '99926.4361',
 'createdByUserID': 24104852,
 'createdTime': '2022-12-06T00:19:59.560708117Z',
 'guaranteedStopLossOrderMode': 'ALLOWED',
 'pl': '-13.9973',
 'resettablePL': '-13.9973',
 'resettablePLTime': '0',
 'financing': '-59.5666',
 'commission': '0.0',
 'guaranteedExecutionFees': '0.0',
 'marginRate': '0.03333333333333',
 'openTradeCount': 7,
 'openPositionCount': 1,
 'pendingOrderCount': 7,
 'hedgingEnabled': False,
 'unrealizedPL': '101.9188',
 'NAV': '100028.3549',
 'marginUsed': '199.6447',
 'marginAvailable': '99829.1774',
 'positionValue': '5989.34',
 'marginCloseoutUnrealizedPL': '103.7318',
 'marginCloseoutNAV': '100030.1679',
 'marginCloseoutMarginUsed': '199.6447',
 'marginCloseoutPercent': '0.001',
 'marginCloseoutPositionValue': '5989.34',
 'withdrawalLimit': '99829.1774',
 'marginCallMarginUsed': '199.6447',
 'marginCallPercent': '0.002',
 'lastTransactionID': '253'}

In [9]:
api.account_type

'practice'

In [10]:
api.account_id

'101-004-24104852-001'

In [11]:
api.get_instruments()

[('GBP/SGD', 'GBP_SGD'),
 ('USD/SEK', 'USD_SEK'),
 ('EUR/DKK', 'EUR_DKK'),
 ('Brent Crude Oil', 'BCO_USD'),
 ('CAD/CHF', 'CAD_CHF'),
 ('Silver/SGD', 'XAG_SGD'),
 ('USD/CZK', 'USD_CZK'),
 ('Gold/GBP', 'XAU_GBP'),
 ('USD/ZAR', 'USD_ZAR'),
 ('Gold/NZD', 'XAU_NZD'),
 ('USD/DKK', 'USD_DKK'),
 ('Gold/CHF', 'XAU_CHF'),
 ('GBP/USD', 'GBP_USD'),
 ('USD/MXN', 'USD_MXN'),
 ('UK 10Y Gilt', 'UK10YB_GBP'),
 ('USD/HUF', 'USD_HUF'),
 ('EUR/CAD', 'EUR_CAD'),
 ('Japan 225', 'JP225_USD'),
 ('Silver/CAD', 'XAG_CAD'),
 ('EUR/USD', 'EUR_USD'),
 ('Singapore 30', 'SG30_SGD'),
 ('Platinum', 'XPT_USD'),
 ('Gold/EUR', 'XAU_EUR'),
 ('CAD/JPY', 'CAD_JPY'),
 ('NZD/HKD', 'NZD_HKD'),
 ('Germany 30', 'DE30_EUR'),
 ('USD/HKD', 'USD_HKD'),
 ('AUD/JPY', 'AUD_JPY'),
 ('China A50', 'CN50_USD'),
 ('ZAR/JPY', 'ZAR_JPY'),
 ('Silver/JPY', 'XAG_JPY'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('SGD/JPY', 'SGD_JPY'),
 ('USD/JPY', 'USD_JPY'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/JPY', 'EUR_JPY'),
 ('Taiwan Index', 'TWIX_USD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('Silver/NZD', 'XAG_NZD'),
 ('West Texas Oil', 'WTICO_USD'),
 ('Silver/AUD', 'XAG_AUD'),
 ('EUR/NZD', 'EUR_NZD'),
 ('GBP/HKD', 'GBP_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('EUR/HKD', 'EUR_HKD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('Gold/HKD', 'XAU_HKD'),
 ('Gold/JPY', 'XAU_JPY'),
 ('USD/THB', 'USD_THB'),
 ('GBP/CHF', 'GBP_CHF'),
 ('AUD/CHF', 'AUD_CHF'),
 ('Spain 35', 'ESPIX_EUR'),
 ('NZD/CHF', 'NZD_CHF'),
 ('AUD/HKD', 'AUD_HKD'),
 ('Silver/HKD', 'XAG_HKD'),
 ('USD/CHF', 'USD_CHF'),
 ('Silver/CHF', 'XAG_CHF'),
 ('Switzerland 20', 'CH20_CHF'),
 ('CAD/HKD', 'CAD_HKD'),
 ('Palladium', 'XPD_USD'),
 ('Natural Gas', 'NATGAS_USD'),
 ('AUD/CAD', 'AUD_CAD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('Bund', 'DE10YB_EUR'),
 ('EUR/PLN', 'EUR_PLN'),
 ('Sugar', 'SUGAR_USD'),
 ('GBP/NZD', 'GBP_NZD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('UK 100', 'UK100_GBP'),
 ('Japan 225 (JPY)', 'JP225Y_JPY'),
 ('Gold', 'XAU_USD'),
 ('EUR/NOK', 'EUR_NOK'),
 ('US Wall St 30', 'US30_USD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('France 40', 'FR40_EUR'),
 ('EUR/GBP', 'EUR_GBP'),
 ('AUD/NZD', 'AUD_NZD'),
 ('CAD/SGD', 'CAD_SGD'),
 ('Wheat', 'WHEAT_USD'),
 ('Gold/AUD', 'XAU_AUD'),
 ('EUR/CZK', 'EUR_CZK'),
 ('NZD/JPY', 'NZD_JPY'),
 ('US 5Y T-Note', 'USB05Y_USD'),
 ('US T-Bond', 'USB30Y_USD'),
 ('Silver', 'XAG_USD'),
 ('USD/TRY', 'USD_TRY'),
 ('GBP/JPY', 'GBP_JPY'),
 ('US SPX 500', 'SPX500_USD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('Copper', 'XCU_USD'),
 ('US 2Y T-Note', 'USB02Y_USD'),
 ('USD/CNH', 'USD_CNH'),
 ('USD/NOK', 'USD_NOK'),
 ('NZD/SGD', 'NZD_SGD'),
 ('Hong Kong 33', 'HK33_HKD'),
 ('Silver/GBP', 'XAG_GBP'),
 ('Silver/EUR', 'XAG_EUR'),
 ('NZD/USD', 'NZD_USD'),
 ('US 10Y T-Note', 'USB10Y_USD'),
 ('US Russ 2000', 'US2000_USD'),
 ('USD/CAD', 'USD_CAD'),
 ('AUD/USD', 'AUD_USD'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('HKD/JPY', 'HKD_JPY'),
 ('EUR/SEK', 'EUR_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('TRY/JPY', 'TRY_JPY'),
 ('Europe 50', 'EU50_EUR'),
 ('NZD/CAD', 'NZD_CAD'),
 ('EUR/SGD', 'EUR_SGD'),
 ('EUR/AUD', 'EUR_AUD'),
 ('Gold/CAD', 'XAU_CAD'),
 ('Gold/Silver', 'XAU_XAG'),
 ('Australia 200', 'AU200_AUD'),
 ('Soybeans', 'SOYBN_USD'),
 ('Corn', 'CORN_USD'),
 ('Gold/SGD', 'XAU_SGD'),
 ('GBP/AUD', 'GBP_AUD'),
 ('USD/PLN', 'USD_PLN'),
 ('US Nas 100', 'NAS100_USD'),
 ('EUR/CHF', 'EUR_CHF'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('China H Shares', 'CHINAH_HKD'),
 ('Netherlands 25', 'NL25_EUR')]

In [12]:
instr = api.get_instruments()

In [13]:
len(instr)

124

In [14]:
instr[0]

('GBP/SGD', 'GBP_SGD')

## Getting Historical Data (Part 1)

In [1]:
import pandas as pd
import tpqoa

In [2]:
api = tpqoa.tpqoa("oanda.cfg")

In [3]:
help(api.get_history)

Help on method get_history in module tpqoa.tpqoa:

get_history(instrument, start, end, granularity, price) method of tpqoa.tpqoa.tpqoa instance
    Retrieves historical data for instrument.

    Parameters
    ==========
    instrument: string
        valid instrument name
    start, end: datetime, str
        Python datetime or string objects for start and end
    granularity: string
        a string like 'S5', 'M1' or 'D'
    price: string
        one of 'A' (ask) or 'B' (bid)

    Returns
    =======
    data: pd.DataFrame
        pandas DataFrame object with data

In [4]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-31",
                granularity = "D", price = "B")

,volume,complete,o,h,l,c
time,,,,,,
2020-06-30 21:00:00+00:00,90252,True,1.12293,1.12744,1.11837,1.12501
2020-07-01 21:00:00+00:00,90789,True,1.12501,1.13020,1.12188,1.12384
2020-07-02 21:00:00+00:00,59036,True,1.12384,1.12492,1.12186,1.12429
2020-07-05 21:00:00+00:00,81756,True,1.12423,1.13449,1.12391,1.13076
2020-07-06 21:00:00+00:00,92426,True,1.13070,1.13318,1.12581,1.12726
2020-07-07 21:00:00+00:00,89549,True,1.12717,1.13505,1.12615,1.13287
2020-07-08 21:00:00+00:00,104729,True,1.13287,1.13699,1.12774,1.12837
2020-07-09 21:00:00+00:00,81510,True,1.12808,1.13242,1.12540,1.12977
2020-07-12 21:00:00+00:00,86512,True,1.13042,1.13744,1.13002,1.13420
2020-07-13 21:00:00+00:00,106478,True,1.13420,1.14081,1.13232,1.13985
2020-07-14 21:00:00+00:00,100308,True,1.13979,1.14512,1.13901,1.14108
2020-07-15 21:00:00+00:00,102144,True,1.14108,1.14411,1.13698,1.13827
2020-07-16 21:00:00+00:00,73024,True,1.13827,1.14432,1.13737,1.14252
2020-07-19 21:00:00+00:00,104209,True,1.14088,1.14672,1.14017,1.14461
2020-07-20 21:00:00+00:00,111043,True,1.14461,1.15391,1.14223,1.15257
2020-07-21 21:00:00+00:00,129890,True,1.15257,1.16009,1.15059,1.15687
2020-07-22 21:00:00+00:00,115345,True,1.15634,1.16260,1.15397,1.15952
2020-07-23 21:00:00+00:00,115447,True,1.15920,1.16571,1.15806,1.16540
2020-07-26 21:00:00+00:00,123653,True,1.16420,1.17809,1.16387,1.17502
2020-07-27 21:00:00+00:00,126006,True,1.17502,1.17729,1.16980,1.17138
2020-07-28 21:00:00+00:00,121087,True,1.17145,1.18054,1.17114,1.17904
2020-07-29 21:00:00+00:00,128163,True,1.17904,1.18475,1.17304,1.18465
2020-07-30 21:00:00+00:00,154943,True,1.18465,1.19081,1.17602,1.17751

In [5]:
df = api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-31",
                granularity = "D", price = "B")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2020-06-30 21:00:00+00:00 to 2020-07-30 21:00:00+00:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   volume    23 non-null     int64
 1   complete  23 non-null     bool
 2   o         23 non-null     float64
 3   h         23 non-null     float64
 4   l         23 non-null     float64
 5   c         23 non-null     float64
dtypes: bool(1), float64(4), int64(1)
memory usage: 1.1 KB

In [7]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-01",
                granularity = "D", price = "A")

,volume,complete,o,h,l,c
time,,,,,,
2020-06-30 21:00:00+00:00,90252,True,1.12393,1.12758,1.11858,1.12527

In [8]:
api.get_history(instrument = "EUR_USD", start = "2020-07-01", end = "2020-07-01",
                granularity = "D", price = "B")

,volume,complete,o,h,l,c
time,,,,,,
2020-06-30 21:00:00+00:00,90252,True,1.12293,1.12744,1.11837,1.12501

## Getting Historical Data (Part 2)

In [9]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "H1", "A")

,volume,complete,o,h,l,c
time,,,,,,
2020-08-03 00:00:00+00:00,6315,True,1.17821,1.17900,1.17418,1.17543
2020-08-03 01:00:00+00:00,4786,True,1.17544,1.17732,1.17461,1.17722
2020-08-03 02:00:00+00:00,2092,True,1.17720,1.17744,1.17638,1.17691
2020-08-03 03:00:00+00:00,1561,True,1.17693,1.17768,1.17672,1.17741
2020-08-03 04:00:00+00:00,1496,True,1.17739,1.17832,1.17722,1.17770
2020-08-03 05:00:00+00:00,1959,True,1.17767,1.17799,1.17678,1.17746
2020-08-03 06:00:00+00:00,5793,True,1.17748,1.17762,1.17495,1.17508
2020-08-03 07:00:00+00:00,9003,True,1.17510,1.17687,1.17506,1.17631
2020-08-03 08:00:00+00:00,8002,True,1.17632,1.17857,1.17601,1.17798
2020-08-03 09:00:00+00:00,6627,True,1.17799,1.17804,1.17430,1.17452
2020-08-03 10:00:00+00:00,7682,True,1.17451,1.17460,1.17149,1.17257
2020-08-03 11:00:00+00:00,5557,True,1.17258,1.17354,1.17254,1.17260
2020-08-03 12:00:00+00:00,7233,True,1.17259,1.17350,1.17068,1.17083
2020-08-03 13:00:00+00:00,9396,True,1.17084,1.17250,1.16966,1.17241
2020-08-03 14:00:00+00:00,11324,True,1.17240,1.17441,1.17224,1.17388
2020-08-03 15:00:00+00:00,6837,True,1.17388,1.17514,1.17342,1.17504
2020-08-03 16:00:00+00:00,3956,True,1.17503,1.17528,1.17390,1.17499
2020-08-03 17:00:00+00:00,3572,True,1.17498,1.17593,1.17477,1.17526
2020-08-03 18:00:00+00:00,3120,True,1.17526,1.17642,1.17516,1.17598
2020-08-03 19:00:00+00:00,2793,True,1.17596,1.17666,1.17587,1.17649
2020-08-03 20:00:00+00:00,1166,True,1.17648,1.17687,1.17630,1.17632
2020-08-03 21:00:00+00:00,175,True,1.17632,1.17699,1.17618,1.17639
2020-08-03 22:00:00+00:00,416,True,1.17629,1.17693,1.17603,1.17613
2020-08-03 23:00:00+00:00,559,True,1.17615,1.17618,1.17569,1.17611
2020-08-04 00:00:00+00:00,1472,True,1.17609,1.17624,1.17529,1.17545
2020-08-04 01:00:00+00:00,1610,True,1.17546,1.17602,1.17540,1.17592
2020-08-04 02:00:00+00:00,1475,True,1.17590,1.17741,1.17577,1.17730
2020-08-04 03:00:00+00:00,1386,True,1.17729,1.17748,1.17642,1.17686
2020-08-04 04:00:00+00:00,1169,True,1.17687,1.17754,1.17678,1.17747
2020-08-04 05:00:00+00:00,1617,True,1.17746,1.17781,1.17648,1.17675
2020-08-04 06:00:00+00:00,5409,True,1.17677,1.17809,1.17649,1.17777
2020-08-04 07:00:00+00:00,11029,True,1.17780,1.18034,1.17725,1.17874
2020-08-04 08:00:00+00:00,9091,True,1.17872,1.17959,1.17736,1.17936
2020-08-04 09:00:00+00:00,7353,True,1.17933,1.18071,1.17928,1.17955
2020-08-04 10:00:00+00:00,7140,True,1.17955,1.17961,1.17687,1.17708
2020-08-04 11:00:00+00:00,7599,True,1.17709,1.17741,1.17553,1.17620
2020-08-04 12:00:00+00:00,10370,True,1.17618,1.17719,1.17229,1.17290
2020-08-04 13:00:00+00:00,10603,True,1.17291,1.17389,1.17221,1.17254
2020-08-04 14:00:00+00:00,11371,True,1.17256,1.17652,1.17249,1.17573
2020-08-04 15:00:00+00:00,7072,True,1.17574,1.17744,1.17514,1.17659
2020-08-04 16:00:00+00:00,5020,True,1.17658,1.17785,1.17653,1.17785
2020-08-04 17:00:00+00:00,3868,True,1.17784,1.17860,1.17767,1.17835
2020-08-04 18:00:00+00:00,3394,True,1.17834,1.17924,1.17753,1.17830
2020-08-04 19:00:00+00:00,3615,True,1.17828,1.18038,1.17827,1.18033
2020-08-04 20:00:00+00:00,1088,True,1.18037,1.18043,1.17953,1.18040
2020-08-04 21:00:00+00:00,53,True,1.18063,1.18063,1.17984,1.17989
2020-08-04 22:00:00+00:00,675,True,1.17984,1.18013,1.17937,1.17990
2020-08-04 23:00:00+00:00,897,True,1.17992,1.18161,1.17954,1.18148

In [14]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "H12", "A")

,volume,complete,o,h,l,c
time,,,,,,
2020-08-02 21:00:00+00:00,43624,True,1.17828,1.17976,1.17418,1.17798
2020-08-03 09:00:00+00:00,69263,True,1.17799,1.17804,1.16966,1.17632
2020-08-03 21:00:00+00:00,35408,True,1.17632,1.18034,1.17529,1.17936
2020-08-04 09:00:00+00:00,78493,True,1.17933,1.18071,1.17221,1.18040
2020-08-04 21:00:00+00:00,33438,True,1.18063,1.18421,1.17937,1.18408

In [12]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-05", "M1", "A")

C:\ProgramData\anaconda3\envs\udemy-algo-trading\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(batch)
C:\ProgramData\anaconda3\envs\udemy-algo-trading\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(batch)

,volume,complete,o,h,l,c
time,,,,,,
2020-08-03 00:00:00+00:00,44,True,1.17821,1.17835,1.17819,1.17835
2020-08-03 00:01:00+00:00,59,True,1.17835,1.17871,1.17833,1.17871
2020-08-03 00:02:00+00:00,62,True,1.17873,1.17896,1.17873,1.17884
2020-08-03 00:03:00+00:00,36,True,1.17885,1.17900,1.17877,1.17877
2020-08-03 00:04:00+00:00,64,True,1.17877,1.17877,1.17824,1.17835
...,...,...,...,...,...,...
2020-08-04 23:55:00+00:00,129,True,1.18098,1.18161,1.18096,1.18147
2020-08-04 23:56:00+00:00,28,True,1.18149,1.18161,1.18146,1.18159
2020-08-04 23:57:00+00:00,23,True,1.18156,1.18160,1.18152,1.18156
2020-08-04 23:58:00+00:00,15,True,1.18154,1.18161,1.18148,1.18155
2020-08-04 23:59:00+00:00,11,True,1.18153,1.18155,1.18147,1.18148

In [13]:
api.get_history("EUR_USD", "2020-08-03", "2020-08-04", "S5", "A")

C:\ProgramData\anaconda3\envs\udemy-algo-trading\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(batch)
C:\ProgramData\anaconda3\envs\udemy-algo-trading\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(batch)
C:\ProgramData\anaconda3\envs\udemy-algo-trading\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(batch)
C:\ProgramData\anaconda3\envs\udemy-algo-trading\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(batch)
C:\ProgramData\anaconda3\envs\udemy-algo-trading\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(batch)
C:\ProgramData\anaconda3\envs\udemy-algo-trading\lib\site-packages\tpqoa\tpqoa.py:161: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(batch)

,volume,complete,o,h,l,c
time,,,,,,
2020-08-03 00:00:00+00:00,16,True,1.17821,1.17830,1.17819,1.17828
2020-08-03 00:00:10+00:00,6,True,1.17827,1.17832,1.17824,1.17832
2020-08-03 00:00:15+00:00,7,True,1.17830,1.17830,1.17823,1.17826
2020-08-03 00:00:30+00:00,4,True,1.17829,1.17830,1.17828,1.17829
2020-08-03 00:00:35+00:00,1,True,1.17827,1.17827,1.17827,1.17827
...,...,...,...,...,...,...
2020-08-03 23:57:20+00:00,1,True,1.17608,1.17608,1.17608,1.17608
2020-08-03 23:57:50+00:00,3,True,1.17609,1.17613,1.17609,1.17613
2020-08-03 23:58:35+00:00,1,True,1.17613,1.17613,1.17613,1.17613
2020-08-03 23:59:45+00:00,2,True,1.17613,1.17613,1.17611,1.17611
2020-08-03 23:59:50+00:00,2,True,1.17609,1.17611,1.17609,1.17611

In [15]:
api.get_instruments()

[('GBP/SGD', 'GBP_SGD'),
 ('USD/SEK', 'USD_SEK'),
 ('EUR/DKK', 'EUR_DKK'),
 ('Brent Crude Oil', 'BCO_USD'),
 ('CAD/CHF', 'CAD_CHF'),
 ('Silver/SGD', 'XAG_SGD'),
 ('USD/CZK', 'USD_CZK'),
 ('Gold/GBP', 'XAU_GBP'),
 ('USD/ZAR', 'USD_ZAR'),
 ('Gold/NZD', 'XAU_NZD'),
 ('USD/DKK', 'USD_DKK'),
 ('Gold/CHF', 'XAU_CHF'),
 ('GBP/USD', 'GBP_USD'),
 ('USD/MXN', 'USD_MXN'),
 ('UK 10Y Gilt', 'UK10YB_GBP'),
 ('USD/HUF', 'USD_HUF'),
 ('EUR/CAD', 'EUR_CAD'),
 ('Japan 225', 'JP225_USD'),
 ('Silver/CAD', 'XAG_CAD'),
 ('EUR/USD', 'EUR_USD'),
 ('Singapore 30', 'SG30_SGD'),
 ('Platinum', 'XPT_USD'),
 ('Gold/EUR', 'XAU_EUR'),
 ('CAD/JPY', 'CAD_JPY'),
 ('NZD/HKD', 'NZD_HKD'),
 ('Germany 30', 'DE30_EUR'),
 ('USD/HKD', 'USD_HKD'),
 ('AUD/JPY', 'AUD_JPY'),
 ('China A50', 'CN50_USD'),
 ('ZAR/JPY', 'ZAR_JPY'),
 ('Silver/JPY', 'XAG_JPY'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('SGD/JPY', 'SGD_JPY'),
 ('USD/JPY', 'USD_JPY'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/JPY', 'EUR_JPY'),
 ('Taiwan Index', 'TWIX_USD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('Silver/NZD', 'XAG_NZD'),
 ('West Texas Oil', 'WTICO_USD'),
 ('Silver/AUD', 'XAG_AUD'),
 ('EUR/NZD', 'EUR_NZD'),
 ('GBP/HKD', 'GBP_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('EUR/HKD', 'EUR_HKD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('Gold/HKD', 'XAU_HKD'),
 ('Gold/JPY', 'XAU_JPY'),
 ('USD/THB', 'USD_THB'),
 ('GBP/CHF', 'GBP_CHF'),
 ('AUD/CHF', 'AUD_CHF'),
 ('Spain 35', 'ESPIX_EUR'),
 ('NZD/CHF', 'NZD_CHF'),
 ('AUD/HKD', 'AUD_HKD'),
 ('Silver/HKD', 'XAG_HKD'),
 ('USD/CHF', 'USD_CHF'),
 ('Silver/CHF', 'XAG_CHF'),
 ('Switzerland 20', 'CH20_CHF'),
 ('CAD/HKD', 'CAD_HKD'),
 ('Palladium', 'XPD_USD'),
 ('Natural Gas', 'NATGAS_USD'),
 ('AUD/CAD', 'AUD_CAD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('Bund', 'DE10YB_EUR'),
 ('EUR/PLN', 'EUR_PLN'),
 ('Sugar', 'SUGAR_USD'),
 ('GBP/NZD', 'GBP_NZD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('UK 100', 'UK100_GBP'),
 ('Japan 225 (JPY)', 'JP225Y_JPY'),
 ('Gold', 'XAU_USD'),
 ('EUR/NOK', 'EUR_NOK'),
 ('US Wall St 30', 'US30_USD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('France 40', 'FR40_EUR'),
 ('EUR/GBP', 'EUR_GBP'),
 ('AUD/NZD', 'AUD_NZD'),
 ('CAD/SGD', 'CAD_SGD'),
 ('Wheat', 'WHEAT_USD'),
 ('Gold/AUD', 'XAU_AUD'),
 ('EUR/CZK', 'EUR_CZK'),
 ('NZD/JPY', 'NZD_JPY'),
 ('US 5Y T-Note', 'USB05Y_USD'),
 ('US T-Bond', 'USB30Y_USD'),
 ('Silver', 'XAG_USD'),
 ('USD/TRY', 'USD_TRY'),
 ('GBP/JPY', 'GBP_JPY'),
 ('US SPX 500', 'SPX500_USD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('Copper', 'XCU_USD'),
 ('US 2Y T-Note', 'USB02Y_USD'),
 ('USD/CNH', 'USD_CNH'),
 ('USD/NOK', 'USD_NOK'),
 ('NZD/SGD', 'NZD_SGD'),
 ('Hong Kong 33', 'HK33_HKD'),
 ('Silver/GBP', 'XAG_GBP'),
 ('Silver/EUR', 'XAG_EUR'),
 ('NZD/USD', 'NZD_USD'),
 ('US 10Y T-Note', 'USB10Y_USD'),
 ('US Russ 2000', 'US2000_USD'),
 ('USD/CAD', 'USD_CAD'),
 ('AUD/USD', 'AUD_USD'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('HKD/JPY', 'HKD_JPY'),
 ('EUR/SEK', 'EUR_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('TRY/JPY', 'TRY_JPY'),
 ('Europe 50', 'EU50_EUR'),
 ('NZD/CAD', 'NZD_CAD'),
 ('EUR/SGD', 'EUR_SGD'),
 ('EUR/AUD', 'EUR_AUD'),
 ('Gold/CAD', 'XAU_CAD'),
 ('Gold/Silver', 'XAU_XAG'),
 ('Australia 200', 'AU200_AUD'),
 ('Soybeans', 'SOYBN_USD'),
 ('Corn', 'CORN_USD'),
 ('Gold/SGD', 'XAU_SGD'),
 ('GBP/AUD', 'GBP_AUD'),
 ('USD/PLN', 'USD_PLN'),
 ('US Nas 100', 'NAS100_USD'),
 ('EUR/CHF', 'EUR_CHF'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('China H Shares', 'CHINAH_HKD'),
 ('Netherlands 25', 'NL25_EUR')]

In [23]:
api.get_history("SPX500_USD", "2020-08-03", "2020-08-04", "D", "A")

                           volume  complete       o       h       l       c
time
2020-08-02 21:00:00+00:00   24453      True  3279.5  3303.5  3263.0  3297.0
2020-08-03 21:00:00+00:00   18521      True  3295.8  3308.5  3279.5  3308.0

In [27]:
api.get_history("GBP_JPY", "2023-01-25","2023-01-30","D","A")

,volume,complete,o,h,l,c
time,,,,,,
2023-01-24 22:00:00+00:00,248647,True,160.616,160.950,159.528,160.728
2023-01-25 22:00:00+00:00,253475,True,160.801,161.756,160.031,161.679
2023-01-26 22:00:00+00:00,227636,True,161.625,161.710,160.428,160.948
2023-01-29 22:00:00+00:00,248184,True,160.792,161.439,160.227,161.126

## Streaming high-frequency real-time Data

In [ ]:
import pandas as pd
import tpqoa

In [ ]:
api = tpqoa.tpqoa("oanda.cfg")

In [ ]:
api.stream_data('EUR_USD', stop = 10)

In [ ]:
#api.stop_stream()

## Creating Orders and Executing Trades

In [ ]:
import pandas as pd
import tpqoa

In [ ]:
api = tpqoa.tpqoa("oanda.cfg")

In [ ]:
api.create_order(instrument = "EUR_USD", units = 100000, sl_distance= 0.1)

In [ ]:
api.create_order(instrument = "EUR_USD", units = -100000, sl_distance= 0.1)

In [ ]:
api.get_account_summary()

In [ ]:
api.get_transactions(tid = 24)

In [ ]:
api.print_transactions(tid = 26-1)